

.footer-flex {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-item-flex {
  flex: 0 1 auto;
}

body {
  background: yellowgreen;
}

@media screen and (min-width: 400px) {
  body {
    background: pink;
  }
}
@media screen and (min-width: 800px) {
  body {
    background: repeating-linear-gradient(red, yellow);
  }
}
li.nav-item:hover {
  border: 1px white dotted;
}
